<div class="header-middle header-middle-ptb-1 d-none d-lg-block">
  <div class="container">
    <div class="header-wrap">
      <div class="logo logo-width-1">
        <a href="index.html"><img src="assets/imgs/theme/logo.svg" alt="logo" /></a>
      </div>
      <div class="header-right">
        <div class="search-style-2">
          <form action="#">
            <select class="select-active">
              <option>All Categories</option>
              <option>Milks and Dairies</option>
              <option>Wines & Alcohol</option>
              <option>Clothing & Beauty</option>
              <option>Pet Foods & Toy</option>
              <option>Fast food</option>
              <option>Baking material</option>
              <option>Vegetables</option>
              <option>Fresh Seafood</option>
              <option>Noodles & Rice</option>
              <option>Ice cream</option>
            </select>
            <input type="text" placeholder="Search for items..." />
          </form>
        </div>
        <div class="header-action-right">
          <div class="header-action-2">
            <div class="search-location">
              <form action="#">
                <select class="select-active">
                  <option>Your Location</option>
                  <option>Alabama</option>
                  <option>Alaska</option>
                  <option>Arizona</option>
                  <option>Delaware</option>
                  <option>Florida</option>
                  <option>Georgia</option>
                  <option>Hawaii</option>
                  <option>Indiana</option>
                  <option>Maryland</option>
                  <option>Nevada</option>
                  <option>New Jersey</option>
                  <option>New Mexico</option>
                  <option>New York</option>
                </select>
              </form>
            </div>
            <app-header-action></app-header-action>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
