<section class="section-padding pb-5">
  <div class="container">
    <div class="section-title">
      <h3>Deals Of The Day</h3>
      <a class="show-all" href="#">
        All Deals
        <i class="fi-rs-angle-right"></i>
      </a>
    </div>
    <div *ngIf="dealsDay$ | async as deals" class="row">
      <div *ngFor="let item of deals" class="col-xl-3 col-lg-4 col-md-6">
        <div class="product-cart-wrap style-2">
          <div class="product-img-action-wrap">
            <div class="product-img">
              <a href="#">
                <img src="{{ item.image }}" alt="{{ item.image }}" />
              </a>
            </div>
          </div>
          <div class="product-content-wrap">
            <div class="deals-countdown-wrap">
              <div class="deals-countdown"></div>
            </div>
            <div class="deals-content">
              <h2>
                <a href="#">{{ item.description }}</a>
              </h2>
              <div class="product-rate-cover">
                <div class="product-rate d-inline-block">
                  <div class="product-rating" style="width: 90%"></div>
                </div>
                <span class="font-small ml-5 text-muted"> ( {{ item.starRate }} )</span>
              </div>
              <div>
                <span class="font-small text-muted"
                  >By <a href="#">{{ item.mark }}</a></span
                >
              </div>
              <div class="product-card-bottom">
                <div class="product-price">
                  <span>${{ item.price }}</span>
                  <span class="old-price">${{ item.discount }}</span>
                </div>
                <div class="add-cart">
                  <a class="add" href="#"><i class="fi-rs-shopping-cart mr-5"></i>Add </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
