<section class="section-padding mb-30">
  <div class="container">
    <div class="row">
      <div class="col-xl-3 col-lg-4 col-md-6 mb-sm-5 mb-md-0">
        <app-top-selling></app-top-selling>
      </div>
      <div class="col-xl-3 col-lg-4 col-md-6 mb-md-0">
        <app-trending-products></app-trending-products>
      </div>
      <div class="col-xl-3 col-lg-4 col-md-6 mb-sm-5 mb-md-0 d-none d-lg-block">
        <app-recently-added></app-recently-added>
      </div>
      <div class="col-xl-3 col-lg-4 col-md-6 mb-sm-5 mb-md-0 d-none d-xl-block">
        <app-top-rated></app-top-rated>
      </div>
    </div>
  </div>
</section>
